# Shared
NODE_ENV=development

# Backend (apps/api)
PORT=4000
DATABASE_URL=postgresql://tilda:tilda@localhost:5434/tilda?schema=public
JWT_SECRET=replace-this-with-a-long-random-string
JWT_EXPIRES_IN=7d
DATA_GO_KR_API_KEY=YOUR_DATA_GO_KR_KEY_HERE
DATA_GO_KR_BASE_URL=https://api.odcloud.kr/api
# Dataset path for "의료기관종별 진료과목별 진료비 통계_20241231"
DATA_GO_KR_DATASET_PATH=/15139382/v1/uddi:638707af-cc4b-48e5-9ff8-938aae8b637a
COOKIE_DOMAIN=
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:3000

# Frontend (apps/web)
NEXT_PUBLIC_API_URL=http://localhost:4000/api
INTERNAL_API_URL=http://localhost:4000/api
